.back{
    height: 100%;
    background-color: rgb(241, 237, 237);
}
.container{
    /* width: 100%;
    height: 100%; */
    display: flex;
    /* margin: 20px 20px 20px 20px; */
}
.imagen{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    position: relative;
    background-color: orange;
}
.imag{
    height: 100%; 
    width: 100%;
}
.imag img{
    height: 100%;
    width: 100%;
    object-fit: cover
}
.logo-odin{
    position: absolute;
    top: 20%;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.5;
}
.pixabay{
    color: white;
    position: absolute;
    top: 95%;
    font-size: 12px;
    margin-bottom: 1px;
}
.logo-odin img{
    width: 100px;
    height: auto;
    margin-right: 20px;
    /* background-color: blue; */
}
.logo-odin p{
    margin-top: 5%;
    color: white;
    font-family: 'Norse-Bold', cursive;
    font-size: 80px;
    /* text-align: center; */
}
@font-face {
    font-family: 'Norse-Bold'; /*a name to be used later*/
    src: url('images/Norse-Bold.otf'); /*URL to font*/
}
.registration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    /* background-color: blue; */
}
.paragraph{
    max-width: 95%;
    padding: 30px 0px 30px 30px ;
    /* background-color: red; */
}
.data-registration{
    width: 95%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: white;
    margin: 10px 0px 10px 0px;
}
.lets{
    max-width: 100%;
    display: flex;
    font-weight: bold;
    /* align-items: center;
    justify-content: ; */
    padding: 5px 30px 5px 30px;
    /* background-color: red; */
}
.datas{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: orange; */
}
.rows{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    /* margin: 5px 5px 5px 5px ; */
    /* background-color: red; */
}
.inputs{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: start;
    padding: 10px 5px 10px 30px;
    /* background-color: blue; */
}
.account{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 30px 20px 30px;
    justify-content: center;
    width: 95%;
    /* background-color: red; */
}
.account button{
    background-color:#596D48;
    width: 200px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.account button:hover{
    scale: 1.02;
}
input{
    max-width: 90%;
    border: 1px solid #E5E7EB;
    border-radius: 2px;
}
input:focus{
    outline: none;
    border: 1px solid lightblue;
    box-shadow: 2px 2px lightgray;
}
form div{
    display: flex;
    flex-direction: column;
}
label{
    font-size: small;
}
.account a{
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
@media screen and (max-width:600px) {
    .container{
        flex-direction: column;
    }
    .registration{
        width: 100%;
    }
    .data-registration{
        max-width: 100%;
    }
    .paragraph{
        width: 100%;
        padding-left: 10px;
    }
    .lets{
        padding-left: 10px;
    }
    .imagen{
        width: 100%;
    }
    .datas{
        flex-direction: column;
        justify-content: start;
    }
    .rows{
        max-width: 100%;
        /* display: flex; */
        flex-direction: column;
        align-items: start;
        justify-content: start;
        /* background-color: blueviolet; */
        padding-left: 0px;
        margin-left: 0px;
    }
    .inputs{
        max-width: 100%;
        justify-content: start;
        /* background-color: blue; */
        padding-left: 10px;
        margin-left: 0px;
    }
    form div input{
        max-width: 80%;
    }
    .account{
        width: 100%;
        padding-left: 10px;
    }
    .pixabay{
        top: 93%;
        font-size: 10px;
    }
    .logo-odin{
        position: absolute;
        top: 10%;
    }
}